@function breakpoint-next($name, $breakpoint: $breakpoint-widths, $breakpoint-names: map-keys($breakpoint)) {
  $n: index($breakpoint-names, $name);
  @return if($n < length($breakpoint-names), nth($breakpoint-names, $n + 1), null);
}

@function breakpoint-min($name, $breakpoint: $breakpoint-widths) {
  $min: map-get($breakpoint, $name);
  @return if($min != 0, $min, null);
}

@function breakpoint-max($name, $breakpoint: $breakpoint-widths) {
  $next: breakpoint-next($name, $breakpoint);
  @return if($next, breakpoint-min($next, $breakpoint) - .02px, null);
}

// Returns a blank string if smallest breakpoint, otherwise returns the name with a dash in front.
// Useful for making responsive utilities.

@function breakpoint-infix($name, $breakpoint: $breakpoint-widths) {
  @return if(breakpoint-min($name, $breakpoint) == null, "", "-#{$name}");
}