@use 'sass:math';

/*-----------------------------------------------------------------------------------*/
/* VARIABLES */
/*-----------------------------------------------------------------------------------*/

$gutter: 2rem;
$columns: 12;
$fixed: 110rem;

$main: 65%;
$aside: 37%;


/*-----------------------------------------------------------------------------------*/
/* MIXINS */
/*-----------------------------------------------------------------------------------*/

@mixin cell-row {
  display: flex;
  flex-wrap: wrap;
}

@mixin cell-row-gutter {
  margin-right: -$gutter;
  margin-left: -$gutter;
}

@mixin cell {
  position: relative;
  max-width: 100%;
}

@mixin cell-gutter {
  padding-right: $gutter;
  padding-left: $gutter;
}

@mixin cell-span($size) {
  
  @for $i from 1 through $columns {
    $width: math.percentage(math.div($i, $columns));
    @if($size == $i)  {
      flex: 0 0 auto;
      width: $width;
    } 
  }

  @if($size == 0) {
    flex: 1 0 0%;
  } @else if ($size == auto) {
    flex: 0 0 auto;
    width: auto;
  }
  
}

// @mixin cell-fixed {
//   @include cell;
//   @include cell-gutter;
//   width: $max-width;
//   margin-right: auto;
//   margin-left: auto;

//   @media (min-width: 1200px) {
//     width: $max-width-xl;
//   }

//   @media (min-width: 1700px) {
//     width: $max-width-xxl;
//   }

// }

// @mixin cell-fluid {
//   @include cell;
//   @include cell-gutter;
// }


