@mixin transform($transform...){
  -webkit-transform: $transform;
  -ms-transform: $transform;
  transform: $transform;
 }

@mixin transition-timing-function($transition-timing-function) {
  -webkit-transition-timing-function: $transition-timing-function;
  -moz-transition-timing-function: $transition-timing-function;
  -o-transition-timing-function: $transition-timing-function;
  transition-timing-function: $transition-timing-function;
}

@mixin transition-property($transition-property) {
  -webkit-transition-property: $transition-property;
  -moz-transition-property: $transition-property;
  -o-transition-property: $transition-property;
  transition-property: $transition-property;
}

@mixin transition-duration($transition-duration) {
  -webkit-transition-duration: $transition-duration;
  -moz-transition-duration: $transition-duration;
  -o-transition-duration: $transition-duration;
  transition-duration: $transition-duration;
}

@mixin transition-delay($transition-delay) {
  -webkit-transition-delay: $transition-delay;
  -moz-transition-delay: $transition-delay;
  -o-transition-delay: $transition-delay;
  transition-delay: $transition-delay;
}

@mixin user-select($user-select) {
  -webkit-user-select: $user-select;
  -moz-user-select: $user-select;
  -ms-user-select: $user-select;
  user-select: $user-select;
}

@mixin appearance($appearance) {
  -webkit-appearance: $appearance;
  -moz-appearance: $appearance;
  appearance: $appearance;
}

@mixin perspective ($perspective) {
  -webkit-perspective: $perspective;
  -moz-perspective: $perspective;
  -ms-perspective: $perspective;
  perspective: $perspective;
}

@mixin object-fit ($object-fit) {
  -o-object-fit: $object-fit;
  object-fit: $object-fit;
}

@mixin object-position ($object-position) {
  -o-object-position: $object-position;
  object-position: $object-position;
}

@mixin box-shadow ($box-shadow) {
  -webkit-box-shadow: $box-shadow;
  box-shadow: $box-shadow;
}
