/*-----------------------------------------------------------------------------------*/
/* VARIABLES */
/*-----------------------------------------------------------------------------------*/

$block-padding-sm: 2rem;
$block-padding-md: 6rem;
$block-padding-lg: 8rem;

$block-breakpoint-sm: sm;
$block-breakpoint-md: lg;
$block-breakpoint-lg: xxl;


/*-----------------------------------------------------------------------------------*/
/* MIXINS */
/*-----------------------------------------------------------------------------------*/

@mixin block {
  padding-top: $block-padding-sm + 2rem;
  padding-bottom: $block-padding-sm + 2rem;
  padding-left: $block-padding-sm;
  padding-right: $block-padding-sm;

  @include media-up($block-breakpoint-md) {
    padding: $block-padding-md;
  }

  @include media-up($block-breakpoint-lg) {
    padding: $block-padding-lg;
  }

}

@mixin block-x {
  padding-left: $block-padding-sm;
  padding-right: $block-padding-sm;

  @include media-up($block-breakpoint-md) {
    padding-left: $block-padding-md;
    padding-right: $block-padding-md;
  }

  @include media-up($block-breakpoint-lg) {
    padding-left: $block-padding-lg;
    padding-right: $block-padding-lg;
  }

}

@mixin block-y {
  padding-top: $block-padding-sm + 2rem;
  padding-bottom: $block-padding-sm + 2rem;

  @include media-up($block-breakpoint-md) {
    padding-top: $block-padding-md;
    padding-bottom: $block-padding-md;
  }

  @include media-up($block-breakpoint-lg) {
    padding-top: $block-padding-lg;
    padding-bottom: $block-padding-lg;
  }

}

@mixin block-top {
  padding-top: $block-padding-sm + 2rem;

  @include media-up($block-breakpoint-md) {
    padding-top: $block-padding-md;
  }

  @include media-up($block-breakpoint-lg) {
    padding-top: $block-padding-lg;
  }

}

@mixin block-bottom {
  padding-bottom: $block-padding-sm + 2rem;

  @include media-up($block-breakpoint-md) {
    padding-bottom: $block-padding-md;
  }

  @include media-up($block-breakpoint-lg) {
    padding-bottom: $block-padding-lg;
  }

}

@mixin block-left {
  padding-left: $block-padding-sm;

  @include media-up($block-breakpoint-md) {
    padding-left: $block-padding-md;
  }

  @include media-up($block-breakpoint-lg) {
    padding-left: $block-padding-lg;
  }

}

@mixin block-right {
  padding-right: $block-padding-sm;

  @include media-up($block-breakpoint-md) {
    padding-right: $block-padding-md;
  }

  @include media-up($block-breakpoint-lg) {
    padding-right: $block-padding-lg;
  }

}