:root {
  --white: #ffffff;
  --black: #202020;
  --color-one: #424242;
  --color-two: #dadada;
  --color-three: #50b0ae;
  --danger: #dc3545;
  --stars: #edb406;
  --body-font: "Roboto Serif";
  --heading-font: "Montserrat";
  --heading-weight: 600;
  --heading-case: inherit;
  --button-font: "Montserrat";
  --button-weight: 600;
  --button-case: uppercase;
  --button-radius: 10rem;
  --regular: 300;
  --bold: 500;
  --border-radius: 2rem;
  --paragraph-margin: 2rem;
  --logo-width-sm: 26rem;
  --logo-width-md: 25rem;
  --logo-width-lg: 32rem
}
html {
  font-size: 62.5%;
  line-height: 1.5;
  overflow-x: hidden;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent
}
@media (max-height:709px) {
  html.dialog-active {
    overflow: hidden
  }
}
@media (max-width:1199px) {
  html.dialog-active {
    overflow: hidden
  }
}
*,
:after,
:before {
  box-sizing: inherit
}
* {
  padding: 0;
  margin: 0
}
@-ms-viewport {
  width: device-width
}
a,
b,
blockquote,
canvas,
caption,
code,
em,
embed,
fieldset,
figure,
form,
h1,
h2,
h3,
h4,
h5,
h6,
i,
iframe,
img,
label,
li,
object,
ol,
p,
pre,
small,
span,
strike,
strong,
sub,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
tr,
tt,
u,
ul,
video {
  border: 0;
  font: inherit;
  vertical-align: baseline
}
body {
  font-size: 1.5rem;
  font-family: sans-serif;
  font-family: var(--body-font);
  line-height: 1.4;
  font-weight: var(--regular);
  color: var(--black);
  background-color: var(--color-two);
  text-align: left;
  overflow-x: hidden
}
@media (min-width:1000px) {
  body {
    font-size: 1.7rem
  }
}
:focus {
  outline: 0;
  outline: 0;
  outline: -webkit-focus-ring-color 0;
  border-color: inherit;
  box-shadow: none
}
[tabindex="-1"]:focus {
  outline: 0!important
}
:focus:not(:focus-visable) {
  outline: 0
}
[hidden] {
  display: none!important
}
article,
aside,
dialog,
div,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block
}
blockquote {
  margin: 0
}
blockquote,
q {
  quotes: none
}
blockquote:after,
blockquote:before,
q:after,
q:before {
  content: "";
  content: none
}
table {
  border-collapse: collapse;
  border-spacing: 0
}
th {
  text-align: inherit
}
caption {
  display: table-caption;
  text-align: inherit
}
small {
  font-size: 80%
}
a {
  background-color: transparent
}
a:active,
a:hover {
  outline-width: 0
}
[role=button],
a,
area,
button,
input:not([type=range]),
label,
select,
summary,
textarea {
  touch-action: manipulation
}
code,
kbd,
pre,
samp {
  font-family: monospace,monospace
}
input {
  -webkit-appearance: none;
  border-radius: 0
}
[disabled] {
  cursor: default
}
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto
}
[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px
}
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none
}
textarea {
  overflow: auto;
  resize: vertical
}
button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit
}
button {
  -webkit-text-decoration: none;
  text-decoration: none;
  outline: 0;
  border: 0;
  background: 0 0
}
[role=button],
[type=button],
[type=reset],
[type=submit],
button {
  cursor: pointer;
  color: inherit
}
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0
}
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner,
button:-moz-focusring {
  outline: 1px dotted ButtonText
}
[type=reset],
[type=submit],
button,
html [type=button] {
  -webkit-appearance: button
}
button,
input,
select,
textarea {
  background-color: transparent;
  border-style: none
}
select {
  -moz-appearance: none;
  -webkit-appearance: none
}
select::-ms-expand {
  display: none
}
select::-ms-value {
  color: currentColor
}
output {
  display: inline-block
}
summary {
  display: list-item
}
template {
  display: none
}
strong {
  font-weight: var(--bold)
}
strong > a {
  font-weight: var(--bold)
}
address {
  font-style: normal
}
ol ol,
ol ul,
ul ol,
ul ul {
  margin-bottom: 0
}
li {
  margin: 0
}
dt {
  font-weight: var(--bold)
}
dd,
dl {
  margin: 0
}
i {
  font-style: normal
}
sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline
}
sub {
  bottom: -.25em
}
sup {
  top: -.5em
}
img {
  width: 100%;
  height: auto
}
@media screen {
  [hidden~=screen] {
    display: inherit
  }
  [hidden~=screen]:not(:active):not(:focus):not(:target) {
    position: absolute!important;
    clip: rect(0 0 0 0)!important
  }
}
[aria-busy=true] {
  cursor: progress
}
[aria-controls] {
  cursor: pointer
}
[aria-disabled] {
  cursor: default
}
::selection {
  background-color: var(--black);
  color: var(--white)
}
a {
  color: var(--color-three);
  text-decoration: none;
  font-weight: var(--regular);
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
  transition: all .3s ease-out
}
a:hover {
  color: var(--black);
  text-decoration: none;
  outline: 0
}
a:not([href]):not([tabindex]) {
  color: inherit;
  text-decoration: none
}
a:not([href]):not([tabindex]):focus,
a:not([href]):not([tabindex]):hover {
  color: inherit;
  text-decoration: none
}
a:not([href]):not([tabindex]):focus {
  outline: 0
}
a:not(button) {
  font-weight: var(--bold)
}
a[x-apple-data-detectors] {
  color: inherit!important;
  text-decoration: none!important;
  font-size: inherit!important;
  font-family: inherit!important;
  font-weight: inherit!important;
  line-height: inherit!important
}
a[href^=tel] {
  color: inherit;
  text-decoration: none
}
a:not([class]) {
  text-decoration-skip-ink: auto
}
a:focus,
button:focus,
input[type=submit]:focus {
  outline: .1rem dotted var(--color-two);
  text-decoration: none
}
@media (min-width:576px) {
  .hidden-sm {
    display: none!important
  }
}
@media (min-width:768px) {
  .hidden-md {
    display: none!important
  }
}
@media (min-width:1000px) {
  .hidden-lg {
    display: none!important
  }
}
@media (min-width:1200px) {
  .hidden-xl {
    display: none!important
  }
}
@media (min-width:1700px) {
  .hidden-xxl {
    display: none!important
  }
}
@media (max-width:575px) {
  .visable-sm {
    display: none!important
  }
}
@media (max-width:767px) {
  .visable-md {
    display: none!important
  }
}
@media (max-width:999px) {
  .visable-lg {
    display: none!important
  }
}
@media (max-width:1199px) {
  .visable-xl {
    display: none!important
  }
}
@media (max-width:1699px) {
  .visable-xxl {
    display: none!important
  }
}
.hidden {
  display: none
}
p {
  margin-top: var(--paragraph-margin);
  margin-bottom: var(--paragraph-margin)
}
p:first-child {
  margin-top: 0
}
p:last-child {
  margin-bottom: 0
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: inherit;
  font-weight: inherit;
  line-height: 1.2;
  color: inherit;
  margin-top: var(--paragraph-margin);
  margin-bottom: var(--paragraph-margin)
}
h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child {
  margin-top: 0
}
h1:last-child,
h2:last-child,
h3:last-child,
h4:last-child,
h5:last-child,
h6:last-child {
  margin-bottom: 0
}
h1 {
  font-size: 10vw;
  line-height: 1.1;
  font-family: var(--heading-font);
  font-weight: var(--heading-weight)
}
@media (min-width:375px) {
  h1 {
    font-size: 8vw
  }
}
@media (min-width:576px) {
  h1 {
    font-size: 7.5vw
  }
}
@media (min-width:860px) {
  h1 {
    font-size: 7rem
  }
}
@media (min-width:1700px) {
  h1 {
    font-size: 7.8rem
  }
}
h2 {
  font-size: 2.6rem;
  font-family: var(--heading-font);
  font-weight: var(--heading-weight)
}
@media (min-width:576px) {
  h2 {
    font-size: 2.8rem
  }
}
@media (min-width:1000px) {
  h2 {
    font-size: 3.5rem
  }
}
@media (min-width:1200px) {
  h2 {
    font-size: 3.5rem
  }
}
@media (min-width:1700px) {
  h2 {
    font-size: 4rem
  }
}
h3 {
  font-size: 2rem;
  font-family: var(--heading-font);
  font-weight: var(--heading-weight)
}
@media (min-width:1700px) {
  h3 {
    font-size: 2.4rem
  }
}
h4 {
  font-size: 1.7rem;
  line-height: 1.5
}
@media (min-width:768px) {
  h4 {
    font-size: 1.8rem
  }
}
@media (min-width:1000px) {
  h4 {
    font-size: 1.9rem
  }
}
@media (min-width:1700px) {
  h4 {
    font-size: 2rem
  }
}
ul {
  margin-top: var(--paragraph-margin);
  margin-bottom: var(--paragraph-margin)
}
ul:first-child {
  margin-top: 0
}
ul:last-child {
  margin-bottom: 0
}
.tick-list {
  list-style: none;
  padding: 0;
  margin: 3rem 0;
  text-align: left
}
.tick-list li {
  position: relative;
  margin: 0;
  padding: 0 0 0 6rem;
  font-size: 1.7rem;
  line-height: 1.5
}
@media (min-width:768px) {
  .tick-list li {
    font-size: 1.8rem
  }
}
@media (min-width:1000px) {
  .tick-list li {
    font-size: 1.9rem
  }
}
@media (min-width:1700px) {
  .tick-list li {
    font-size: 2rem
  }
}
.tick-list li:not(:last-child) {
  margin: 0 0 2rem 0
}
.tick-list .icon {
  position: absolute;
  top: -.4rem;
  left: 0;
  display: block;
  width: 3.5rem;
  height: 3.5rem
}
@media (min-width:1700px) {
  .tick-list .icon {
    width: 4rem;
    height: 4rem
  }
}
@media (max-height:709px) {
  .tick-list {
    width: fit-content;
    margin: 3rem auto 4rem
  }
}
@media (max-width:1199px) {
  .tick-list {
    width: fit-content;
    margin: 3rem auto 4rem
  }
}
.tick-list--lg li {
  font-size: 2.6rem;
  font-family: var(--heading-font);
  font-weight: var(--heading-weight)
}
@media (min-width:576px) {
  .tick-list--lg li {
    font-size: 2.8rem
  }
}
@media (min-width:1000px) {
  .tick-list--lg li {
    font-size: 3.5rem
  }
}
@media (min-width:1200px) {
  .tick-list--lg li {
    font-size: 3.5rem
  }
}
@media (min-width:1700px) {
  .tick-list--lg li {
    font-size: 4rem
  }
}
.tick-list--lg .icon {
  top: .4rem
}
.icon {
  display: inline-block;
  vertical-align: middle;
  position: relative
}
.icon svg {
  width: 100%;
  height: 100%
}
.icon--close {
  width: 1.1rem;
  height: 1.1rem;
  vertical-align: baseline
}
.icon--arrow {
  width: 1.5rem;
  height: .9rem
}
@media (min-width:768px) {
  .icon--arrow {
    width: 2rem;
    height: 1.2rem
  }
}
.icon--mail {
  width: 2rem;
  height: 1.5rem;
  vertical-align: baseline
}
.icon--phone {
  width: 1.9rem;
  height: 1.9rem;
  vertical-align: text-top
}
.icon--stars {
  width: 13rem;
  height: 2.4rem
}
.icon--calendar {
  width: 2rem;
  height: 2.3rem;
  vertical-align: text-top
}
.icon--whatsapp {
  width: 2.1rem;
  height: 2.5rem;
  vertical-align: text-top
}
.icon--instagram {
  width: 2.2rem;
  height: 2.5rem;
  vertical-align: middle
}
.icon--facebook {
  width: 1.2rem;
  height: 2rem;
  vertical-align: middle
}
.icon--twitter {
  width: 2.4rem;
  height: 2.4rem;
  vertical-align: middle
}
.icon--tiktok {
  width: 1.7rem;
  height: 2rem;
  vertical-align: middle
}
.button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
  font-family: var(--button-font);
  font-size: 1.4rem;
  font-weight: var(--button-weight);
  text-transform: var(--button-case);
  line-height: 1.4;
  border-width: .2rem;
  border-style: solid;
  padding: 1.3rem 2.8rem;
  width: 100%;
  transition: all .3s ease-out;
  border-radius: var(--button-radius)
}
@media (min-width:576px) {
  .button {
    width: fit-content
  }
}
@media (min-width:768px) {
  .button {
    font-size: 1.5rem;
    padding: 1.5rem 3.5rem
  }
}
@media (min-width:1000px) {
  .button {
    font-size: 1.7rem
  }
}
.more {
  margin-top: var(--paragraph-margin);
  margin-bottom: 0
}
.more__text {
  overflow: hidden;
  display: block;
  max-height: 0;
  transition: max-height .4s ease-in-out,margin-bottom .4s ease-in-out
}
.more__text.show {
  max-height: 50rem;
  margin-bottom: 2rem
}
.more__button {
  font-size: 80%;
  font-weight: var(--bold);
  text-decoration: underline
}
table {
  width: 100%;
  max-width: 100%;
  background-color: transparent;
  margin-top: 4rem;
  margin-bottom: 4rem;
  font-size: 1.6rem;
  text-align: left
}
@media (min-width:768px) {
  table {
    font-size: 1.9rem
  }
}
table:first-child {
  margin-top: 0
}
table:last-child {
  margin-bottom: 0
}
table td,
table th {
  padding: 1rem 1.5rem
}
@media (min-width:768px) {
  table td,
  table th {
    padding: 1.5rem 2rem
  }
}
table thead th {
  vertical-align: top;
  border-width: .1rem;
  border-style: solid;
  border-color: var(--color-one);
  font-weight: 700
}
table tbody th {
  font-weight: var(--bold)
}
table tbody td,
table tbody th {
  vertical-align: middle;
  border-width: .1rem;
  border-style: solid;
  border-color: var(--color-one)
}
table tbody tr:nth-child(odd) {
  background: rgba(255,255,255,.1)
}
table tbody tr:nth-child(even) {
  background: rgba(255,255,255,.05)
}
.column {
  background: var(--white);
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start
}
@media (max-height:709px) {
  .column {
    justify-content: center
  }
}
@media (max-width:1199px) {
  .column {
    justify-content: center
  }
}
.column--center {
  text-align: center
}
.column__inner {
  padding-top: 4rem;
  padding-bottom: 4rem;
  padding-left: 2rem;
  width: 65%
}
@media (min-width:1000px) {
  .column__inner {
    padding-top: 6rem;
    padding-bottom: 6rem
  }
}
@media (min-width:1700px) {
  .column__inner {
    padding-top: 8rem;
    padding-bottom: 8rem
  }
}
@media (min-width:1000px) {
  .column__inner {
    padding-left: 6rem
  }
}
@media (min-width:1700px) {
  .column__inner {
    padding-left: 8rem
  }
}
@media (max-height:709px) {
  .column__inner {
    max-width: 110rem;
    padding-right: 2rem;
    width: 100%;
    text-align: center
  }
}
@media (max-height:709px) and (min-width:1000px) {
  .column__inner {
    padding-right: 6rem
  }
}
@media (max-height:709px) and (min-width:1700px) {
  .column__inner {
    padding-right: 8rem
  }
}
@media (max-width:1199px) {
  .column__inner {
    max-width: 110rem;
    padding-right: 2rem;
    width: 100%;
    text-align: center
  }
}
@media (max-width:1199px) and (min-width:1000px) {
  .column__inner {
    padding-right: 6rem
  }
}
@media (max-width:1199px) and (min-width:1700px) {
  .column__inner {
    padding-right: 8rem
  }
}
@media (max-width:999px) {
  .column__inner {
    max-width: 85%
  }
}
@media (max-width:767px) {
  .column__inner {
    max-width: none
  }
}
.column__list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  margin: 0 -2rem
}
.column__list--review {
  margin-top: 3rem
}
.column__list--bottom {
  padding: 2rem 0
}
@media (min-width:1200px) {
  .column__list--bottom {
    padding: 2rem 0 0 0
  }
}
.column__row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -2rem;
  margin-left: -2rem;
  justify-content: center
}
.column__cell {
  position: relative;
  max-width: 100%;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  padding-right: 2rem;
  padding-left: 2rem;
  flex: 0 0 auto;
  width: 100%;
  text-align: center
}
@media (min-width:576px) {
  .column__cell {
    flex: 0 0 auto;
    width: 50%
  }
}
@media (min-width:1000px) {
  .column__cell {
    flex: 1 0 0%;
    max-width: 50%
  }
}
.column__review {
  position: relative;
  max-width: 100%;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-right: 2rem;
  padding-left: 2rem;
  flex: 0 0 auto;
  width: 100%
}
@media (min-width:700px) {
  .column__review--multi {
    flex: 0 0 auto;
    width: 50%
  }
}
@media (max-width:699px) {
  .column__review {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem
  }
  .column__review:first-child {
    padding-top: 0
  }
  .column__review:last-child {
    padding-bottom: 0
  }
}
.column__body {
  position: relative;
  max-width: 100%;
  padding-right: 2rem;
  padding-left: 2rem;
  flex: 0 0 auto;
  width: 100%;
  text-align: center
}
@media (min-width:951px) {
  .column__body {
    flex: 0 0 auto;
    width: 58.3333333333%;
    text-align: left;
    align-self: center
  }
}
.column__body .button {
  margin: 3rem auto 0;
  display: none
}
@media (max-height:709px) {
  .column__body .button {
    display: block
  }
}
@media (max-width:1199px) {
  .column__body .button {
    display: block
  }
}
@media (min-width:951px) {
  .column__body .button {
    margin: 3rem 0 0
  }
}
.column__media {
  position: relative;
  max-width: 100%;
  padding-right: 2rem;
  padding-left: 2rem;
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 3rem
}
@media (min-width:951px) {
  .column__media {
    flex: 0 0 auto;
    width: 41.6666666667%;
    margin-bottom: 0
  }
}
.column__media img {
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center
}
@media (min-width:576px) {
  .column__media img {
    max-width: 31rem
  }
}
@media (min-width:1000px) {
  .column__media img {
    max-width: none
  }
}
.column__media--profile img {
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: top;
  object-position: top
}
.column--odd .column__body {
  order: 2
}
@media (min-width:951px) {
  .column--odd .column__body {
    order: 1
  }
}
.column--odd .column__media {
  order: 1
}
@media (min-width:951px) {
  .column--odd .column__media {
    order: 2
  }
}
.column--even .column__body {
  order: 2
}
@media (min-width:951px) {
  .column--even .column__body {
    order: 2
  }
}
.column--even .column__media {
  order: 1
}
@media (min-width:951px) {
  .column--even .column__media {
    order: 1
  }
}
.column__img {
  position: relative;
  width: 18rem;
  height: 18rem;
  display: block;
  border-radius: 50%;
  margin: 0 auto 2.5rem;
  overflow: hidden
}
@media (min-width:1000px) {
  .column__img {
    width: 23rem;
    height: 23rem
  }
}
.column__img--white {
  background: var(--white)
}
.column__img--bg-one {
  background: var(--color-one)
}
.column__img--bg-three {
  background: var(--color-three)
}
.column__img--icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10rem;
  height: 10rem
}
.column__img--icon img {
  width: 5.5rem
}
.column__img--result {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  border-radius: 0;
  margin: 0
}
.column__img--result picture {
  height: 60vw;
  width: 100%
}
@media (min-width:576px) {
  .column__img--result picture {
    height: 23vw
  }
}
@media (min-width:768px) {
  .column__img--result picture {
    height: 28vw
  }
}
@media (min-width:1000px) {
  .column__img--result picture {
    height: 35rem
  }
}
.column__img--result img {
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
  width: 100%;
  height: 100%
}
.column__border {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  border: .1rem solid var(--color-one);
  padding: 2rem 0
}
@media (min-width:576px) {
  .column__border {
    padding: 4rem 2rem
  }
}
.column__border:not(:last-of-type) {
  margin-bottom: 2rem
}
@media (min-width:576px) {
  .column__border:not(:last-of-type) {
    margin-bottom: 4rem
  }
}
.column__caption {
  width: 100%;
  text-align: center;
  padding: 1rem 2rem;
  background: var(--color-one);
  color: var(--white)
}
.column__heading {
  margin: 0 auto 4rem
}
@media (max-height:709px) {
  .column__heading {
    max-width: 70rem
  }
}
@media (max-width:1199px) {
  .column__heading {
    max-width: 70rem
  }
}
.column__heading--results {
  margin: 0 auto 2rem
}
.column__content {
  margin: 0 auto
}
@media (max-height:709px) {
  .column__content {
    max-width: 70rem
  }
}
@media (max-width:1199px) {
  .column__content {
    max-width: 70rem
  }
}
.column__title {
  font-size: 1.7rem;
  margin-bottom: -1rem
}
@media (min-width:1000px) {
  .column__title {
    font-size: 1.8rem
  }
}
@media (min-width:1700px) {
  .column__title {
    font-size: 2rem
  }
}
.column__footer {
  display: none;
  margin: 3.5rem auto 0
}
@media (max-height:709px) {
  .column__footer {
    display: block
  }
}
@media (max-width:1199px) {
  .column__footer {
    display: block
  }
}
.column a {
  font-weight: var(--bold)
}
.column a:focus,
.column a:hover {
  opacity: .8
}
.column .button {
  color: var(--white);
  background: var(--color-three);
  border-color: var(--color-three)
}
.column .button:focus,
.column .button:hover {
  color: var(--white);
  background: var(--color-one);
  border-color: var(--color-one)
}
.column--bg-one {
  background: var(--color-one);
  color: var(--white)
}
.column--bg-one .column__border {
  border-color: var(--color-two)
}
.column--bg-one .icon svg {
  fill: var(--white)
}
.column--bg-one table {
  color: var(--white)
}
.column--bg-one table td,
.column--bg-one table th {
  vertical-align: middle;
  border-color: var(--white)
}
.column--bg-one .button {
  color: var(--white);
  background: var(--color-three);
  border-color: var(--color-three)
}
.column--bg-one .button:focus,
.column--bg-one .button:hover {
  color: var(--color-one);
  background: var(--white);
  border-color: var(--white)
}
.column--bg-two {
  background: var(--color-two)
}
.column--bg-two .icon svg {
  fill: var(--black)
}
.column--bg-two .button {
  color: var(--white);
  background: var(--color-three);
  border-color: var(--color-three)
}
.column--bg-two .button:focus,
.column--bg-two .button:hover {
  color: var(--white);
  background: var(--color-one);
  border-color: var(--color-one)
}
.column--bg-three {
  background: var(--color-three);
  color: var(--white)
}
.column--bg-three .column__border {
  border-color: var(--color-two)
}
.column--bg-three .icon svg {
  fill: var(--white)
}
.column--bg-three table {
  color: var(--white)
}
.column--bg-three .button {
  color: var(--color-one);
  background: var(--white);
  border-color: var(--white)
}
.column--bg-three .button:focus,
.column--bg-three .button:hover {
  color: var(--white);
  background: var(--color-one);
  border-color: var(--color-one)
}
.header {
  position: relative
}
@media (min-width:1200px) {
  .header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: auto;
    z-index: 9999;
    width: 100%
  }
}
.header__row {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between
}
.header__brand {
  position: relative;
  max-width: 100%;
  flex: 0 0 auto;
  width: 100%;
  text-align: center
}
@media (min-width:1200px) {
  .header__brand {
    flex: 0 0 auto;
    width: auto
  }
}
.header__logo {
  display: flex;
  justify-content: center;
  padding: 1.5rem;
  background: var(--color-one);
  -webkit-box-shadow: 0 0 1.5rem 0 rgba(0,0,0,.4);
  box-shadow: 0 0 1.5rem 0 rgba(0,0,0,.4);
  z-index: 1
}
@media (min-width:768px) {
  .header__logo {
    padding: 2rem
  }
}
@media (min-width:1000px) {
  .header__logo {
    padding: 2.5rem 3rem
  }
}
@media (min-width:1200px) {
  .header__logo {
    padding: 3rem 4rem;
    border-radius: 0 0 var(--border-radius) 0
  }
}
.header__logo img {
  max-width: var(--logo-width-sm);
  transition: opacity .3s ease-out
}
@media (min-width:768px) {
  .header__logo img {
    max-width: var(--logo-width-md)
  }
}
@media (min-width:1700px) {
  .header__logo img {
    max-width: var(--logo-width-lg)
  }
}
.header__logo:focus img,
.header__logo:hover img {
  opacity: .8
}
.header__contact {
  position: relative;
  max-width: 100%;
  flex: 0 0 auto;
  width: 100%;
  background: var(--color-three);
  color: var(--white);
  text-align: center;
  padding: 1.5rem;
  font-size: 1.4rem;
  font-family: var(--heading-font)
}
@media (min-width:576px) {
  .header__contact {
    font-size: 1.6rem
  }
}
@media (min-width:768px) {
  .header__contact {
    font-size: 1.7rem;
    padding: 2rem
  }
}
@media (min-width:1200px) {
  .header__contact {
    flex: 0 0 auto;
    width: auto;
    padding: 2.5rem 3rem;
    font-size: 1.8rem;
    border-radius: 0 0 0 var(--border-radius);
    text-align: right;
    background: var(--color-one);
    -webkit-box-shadow: 0 0 1.5rem 0 rgba(0,0,0,.4);
    box-shadow: 0 0 1.5rem 0 rgba(0,0,0,.4)
  }
}
@media (min-width:1700px) {
  .header__contact {
    padding: 3rem 4rem;
    font-size: 2rem
  }
}
.header__contact ul {
  list-style: none;
  padding: 0;
  margin: 0
}
.header__contact ul li {
  display: block
}
@media (min-width:1200px) {
  .header__contact ul li {
    display: inline-block
  }
  .header__contact ul li:not(:last-child) {
    margin: 0 1rem 0 0
  }
  .header__contact ul li:not(:last-child)::after {
    display: inline-block;
    content: "|";
    margin: 0 0 0 1rem
  }
}
.header__contact ul li a {
  color: var(--white)
}
.header__contact ul li a:not(:last-child) {
  margin: 0 .8rem 0 0
}
@media (max-width:1199px) {
  .header__contact ul li a .icon {
    margin-top: 1.5rem
  }
}
.header__contact ul li a .icon svg {
  fill: var(--white)
}
.header__contact ul li a:focus,
.header__contact ul li a:hover {
  opacity: .8
}
.header__contact ul li .button {
  padding: 1rem 1.5rem;
  border-radius: calc(var(--border-radius) - 1rem)
}
@media (max-width:1199px) {
  .header__contact ul li .button {
    width: fit-content;
    margin-top: 1.5rem
  }
}
.aside {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 35%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-top: 7.5rem;
  opacity: 1;
  visibility: visible
}
@media (max-height:709px) {
  .aside {
    width: 100%;
    padding: 6rem 2rem;
    align-items: flex-start;
    opacity: 0;
    visibility: hidden;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 99999;
    transition: opacity .3s ease-in-out,visibility .3s ease-in-out
  }
}
@media (max-width:1199px) {
  .aside {
    width: 100%;
    padding: 4rem 2rem 10rem;
    align-items: flex-start;
    opacity: 0;
    visibility: hidden;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 99999;
    transition: opacity .3s ease-in-out,visibility .3s ease-in-out
  }
}
@media (min-width:1200px) {
  .aside {
    padding-top: 8.8rem
  }
}
.aside--thanks {
  display: none
}
.dialog {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  width: 40rem;
  border: 0;
  opacity: 1;
  background: 0 0;
  -webkit-box-shadow: none;
  box-shadow: none
}
@media (max-height:709px) {
  .dialog {
    opacity: 0;
    transition: opacity .3s ease-in-out,transform .3s ease-in-out;
    transition-delay: .3s;
    transform: translateY(-5rem);
    z-index: 999999;
    width: 40rem!important
  }
}
@media (max-width:1199px) {
  .dialog {
    opacity: 0;
    transition: opacity .3s ease-in-out,transform .3s ease-in-out;
    transition-delay: .3s;
    transform: translateY(-5rem);
    z-index: 999999
  }
}
@media (min-width:1200px) {
  .dialog {
    width: 28.5vw
  }
}
@media (min-width:1700px) {
  .dialog {
    width: 47rem
  }
}
.dialog__backdrop {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
  width: 100vw;
  height: 100vh;
  background-color: var(--color-two)
}
@media (max-height:709px) {
  .dialog__backdrop {
    transition: opacity .3s ease-in-out,visibility .3s ease-in-out;
    opacity: 0;
    visibility: hidden
  }
}
@media (max-width:1199px) {
  .dialog__backdrop {
    transition: opacity .3s ease-in-out,visibility .3s ease-in-out;
    opacity: 0;
    visibility: hidden
  }
}
.dialog__inner {
  overflow: hidden;
  border-radius: var(--border-radius);
  background: var(--color-three);
  -webkit-box-shadow: 0 0 1.5rem 0 rgba(0,0,0,.4);
  box-shadow: 0 0 1.5rem 0 rgba(0,0,0,.4)
}
@media (max-height:709px) {
  .dialog__inner {
    border-radius: 0
  }
}
@media (max-width:1199px) {
  .dialog__inner {
    border-radius: 0
  }
}
.dialog__close {
  display: none;
  position: absolute;
  top: -1rem;
  right: -1rem;
  width: 3.5rem;
  height: 3.5rem;
  line-height: 3.15rem;
  background: var(--color-one);
  border: .2rem solid var(--white);
  border-radius: 50%
}
@media (max-height:709px) {
  .dialog__close {
    display: block
  }
}
@media (max-width:1199px) {
  .dialog__close {
    display: block
  }
}
.dialog__close svg {
  fill: var(--white)
}
.dialog__heading {
  padding: 1.8rem 2.2rem;
  background: var(--color-one);
  color: var(--white);
  text-align: center
}
@media (min-width:768px) {
  .dialog__heading {
    padding: 2.5rem 4rem
  }
}
@media (max-height:779px) {
  .dialog__heading {
    padding: 2rem 3rem
  }
}
.dialog__heading h3 {
  line-height: 1.4;
  font-size: 1.9rem
}
@media (min-width:576px) {
  .dialog__heading h3 {
    font-size: 2rem
  }
}
@media (min-width:1000px) {
  .dialog__heading h3 {
    font-size: 1.7rem
  }
}
@media (min-width:1300px) {
  .dialog__heading h3 {
    font-size: 1.9rem
  }
}
@media (min-width:1700px) {
  .dialog__heading h3 {
    font-size: 2.3rem
  }
}
.dialog .button {
  padding: 1.8rem 2.5rem;
  background: var(--color-three);
  color: var(--white);
  text-align: center;
  width: 100%;
  border-radius: 0;
  border: 0;
  font-size: 1.6rem
}
@media (min-width:576px) {
  .dialog .button {
    font-size: 1.8rem;
    padding: 2.5rem 3rem
  }
}
@media (min-width:768px) {
  .dialog .button {
    font-size: 1.9rem
  }
}
@media (min-width:1200px) {
  .dialog .button {
    font-size: 1.2vw
  }
}
@media (min-width:1700px) {
  .dialog .button {
    font-size: 1.9rem
  }
}
@media (max-height:779px) {
  .dialog .button {
    padding: 1.8rem 2.5rem
  }
}
.dialog .button:focus,
.dialog .button:hover {
  background: var(--color-one)
}
@media (max-height:709px) {
  .aside.open {
    opacity: 1;
    visibility: visible
  }
}
@media (max-width:1199px) {
  .aside.open {
    opacity: 1;
    visibility: visible
  }
}
@media (max-height:709px) {
  .aside.open .dialog {
    opacity: 1;
    transform: translateY(0);
    transition-delay: 0
  }
}
@media (max-width:1199px) {
  .aside.open .dialog {
    opacity: 1;
    transform: translateY(0);
    transition-delay: 0
  }
}
@media (max-height:709px) {
  .aside.open .dialog__backdrop {
    opacity: .8;
    visibility: visible
  }
}
@media (max-width:1199px) {
  .aside.open .dialog__backdrop {
    opacity: .8;
    visibility: visible
  }
}
.footer--bg-one {
  background: var(--color-one);
  color: var(--white)
}
.footer--bg-two {
  background: var(--color-two)
}
.footer--bg-three {
  background: var(--color-three);
  color: var(--white)
}
.footer__inner {
  padding: 4rem 4rem 9rem;
  width: 65%;
  background: var(--color-three);
  color: var(--white);
  text-align: center
}
@media (max-height:709px) {
  .footer__inner {
    width: 100%
  }
}
@media (max-width:1199px) {
  .footer__inner {
    width: 100%
  }
}
@media (min-width:1200px) {
  .footer__inner {
    padding: 4rem
  }
}
.footer__inner ul {
  list-style: none;
  padding: 1.5rem 0 0 0;
  margin: 0
}
.footer__inner ul li {
  display: block
}
@media (min-width:576px) {
  .footer__inner ul li {
    display: inline-block
  }
  .footer__inner ul li:not(:last-child) {
    margin: 0 1rem 0 0
  }
  .footer__inner ul li:not(:last-child)::after {
    display: inline-block;
    content: "|";
    margin: 0 0 0 1rem
  }
}
.footer__inner a {
  color: var(--white);
  font-weight: var(--regular)
}
.footer__inner a:focus,
.footer__inner a:hover {
  opacity: .8
}
.footer__contact {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999999
}
@media (min-width:1200px) {
  .footer__contact {
    display: none
  }
}
.footer__contact ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0
}
.footer__contact ul li {
  display: block;
  flex: 1 0 0%
}
.footer__contact ul li:not(:last-child) {
  border-right: .1rem solid var(--color-two)
}
.footer__contact ul li a,
.footer__contact ul li button {
  display: block;
  color: var(--white);
  background: var(--color-one);
  text-align: center;
  padding: 1.5rem;
  font-size: 1.8rem;
  height: 100%;
  width: 100%;
  font-weight: var(--regular);
  transition: all .3s ease-out
}
@media (min-width:576px) {
  .footer__contact ul li a,
  .footer__contact ul li button {
    font-size: 2rem
  }
}
.footer__contact ul li a:focus,
.footer__contact ul li a:hover,
.footer__contact ul li button:focus,
.footer__contact ul li button:hover {
  background: var(--color-three)
}
.footer__contact ul li a .icon,
.footer__contact ul li button .icon {
  margin-right: .8rem
}
.footer__contact ul li a .icon svg,
.footer__contact ul li button .icon svg {
  fill: var(--white)
}
.footer__contact--thanks ul li:first-child {
  display: none
}
.hero {
  position: relative
}
@media (min-width:1200px) {
  .hero {
    height: 100vh;
    min-height: 50rem;
    overflow: hidden
  }
}
.hero__media {
  position: relative;
  width: 100%;
  height: 18rem
}
@media (min-width:576px) {
  .hero__media {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    z-index: 0
  }
}
.hero__media img {
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: top;
  object-position: top;
  width: 100%;
  height: 100%
}
.hero__media::after {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: var(--color-one);
  opacity: .4;
  z-index: 1
}
.hero__content {
  position: relative;
  height: 100%;
  position: relative;
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding-top: 4rem;
  padding-left: 2rem;
  align-items: flex-end;
  justify-content: center;
  color: var(--white);
  z-index: 2;
  width: 65%
}
@media (min-width:1000px) {
  .hero__content {
    padding-left: 6rem
  }
}
@media (min-width:1700px) {
  .hero__content {
    padding-left: 8rem
  }
}
@media (max-height:709px) {
  .hero__content {
    width: 100%;
    padding-right: 2rem;
    padding-top: 4rem
  }
}
@media (max-height:709px) and (min-width:1000px) {
  .hero__content {
    padding-right: 6rem
  }
}
@media (max-height:709px) and (min-width:1700px) {
  .hero__content {
    padding-right: 8rem
  }
}
@media (max-width:1199px) {
  .hero__content {
    width: 100%;
    padding-right: 2rem;
    padding-top: 23rem
  }
}
@media (max-width:1199px) and (min-width:1000px) {
  .hero__content {
    padding-right: 6rem
  }
}
@media (max-width:1199px) and (min-width:1700px) {
  .hero__content {
    padding-right: 8rem
  }
}
@media (max-width:575px) {
  .hero__content {
    background: var(--color-one);
    padding: 0
  }
}
.hero__inner {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  width: 100%
}
@media (max-height:709px) {
  .hero__inner {
    max-width: 110rem
  }
}
@media (max-width:1199px) {
  .hero__inner {
    max-width: 110rem
  }
}
.hero__strap {
  position: relative;
  max-width: 100%;
  flex: 1 0 0%;
  text-transform: var(--heading-case);
  padding: 3rem 0
}
@media (max-height:709px) {
  .hero__strap {
    text-align: center
  }
}
@media (max-width:1199px) {
  .hero__strap {
    text-align: center
  }
}
@media (max-width:859px) {
  .hero__strap {
    text-align: left
  }
}
@media (max-width:575px) {
  .hero__strap {
    text-align: center;
    padding: 2rem
  }
}
.hero__logo {
  max-width: 18rem
}
@media (min-width:576px) {
  .hero__logo {
    max-width: 20rem
  }
}
@media (min-width:1000px) {
  .hero__logo {
    max-width: 25rem
  }
}
@media (min-width:1200px) {
  .hero__logo {
    max-width: 28rem
  }
}
.hero__offers {
  display: flex;
  justify-content: center;
  position: relative;
  max-width: 100%;
  flex: 0 0 auto;
  width: 100%;
  background: var(--color-three);
  padding: 3rem
}
@media (min-width:576px) {
  .hero__offers {
    flex: 0 0 auto;
    width: 41.6666666667%;
    border-radius: var(--border-radius) var(--border-radius) 0 0
  }
}
@media (min-width:860px) {
  .hero__offers {
    flex: 0 0 auto;
    width: 100%;
    padding: 3rem 2rem
  }
}
.hero__list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin-right: -2rem;
  margin-left: -2rem;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0
}
@media (max-width:575px) {
  .hero__list {
    max-width: 36rem
  }
}
@media (max-width:479px) {
  .hero__list {
    max-width: 30rem
  }
}
@media (min-width:860px) {
  .hero__list {
    flex-direction: row;
    width: 100%
  }
}
.hero__cell {
  position: relative;
  max-width: 100%;
  flex: 0 0 auto;
  padding-right: 2rem;
  padding-left: 2rem;
  display: flex;
  padding: 0 2rem;
  align-items: center;
  justify-content: center;
  text-align: left
}
.hero__cell:not(:last-child) {
  margin-bottom: 1.5rem
}
@media (min-width:576px) {
  .hero__cell:not(:last-child) {
    margin-bottom: 1rem
  }
}
@media (min-width:860px) {
  .hero__cell:not(:last-child) {
    margin-bottom: 0
  }
}
@media (min-width:1700px) {
  .hero__cell {
    flex: 0 0 auto;
    width: auto
  }
}
@media (max-width:575px) {
  .hero__cell:first-child {
    padding-top: 0
  }
  .hero__cell:last-child {
    padding-bottom: 0
  }
}
.hero__icon {
  position: relative;
  border-radius: 50%;
  margin: 0 1.5rem 0 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 8rem;
  height: 8rem;
  background: var(--white)
}
@media (min-width:576px) {
  .hero__icon {
    width: 6rem;
    height: 6rem
  }
}
@media (min-width:1400px) {
  .hero__icon {
    width: 8rem;
    height: 8rem
  }
}
@media (min-width:1700px) {
  .hero__icon {
    width: 10rem;
    height: 10rem;
    margin: 0 2.5rem 0 0
  }
}
.hero__icon img {
  width: 65%
}
.hero__body {
  position: relative;
  max-width: 100%;
  flex: 1 0 0%
}
.hero__title {
  font-size: 1.8rem;
  margin: 0;
  line-height: 1.3
}
@media (min-width:480px) {
  .hero__title {
    font-size: 4.3vw
  }
}
@media (min-width:576px) {
  .hero__title {
    font-size: 1.5rem
  }
}
@media (min-width:768px) {
  .hero__title {
    font-size: 1.7rem
  }
}
@media (min-width:1000px) {
  .hero__title {
    font-size: 1.5rem
  }
}
@media (min-width:1400px) {
  .hero__title {
    font-size: 1.7rem
  }
}
@media (min-width:1700px) {
  .hero__title {
    font-size: 1.9rem
  }
}
.hero__message {
  position: relative;
  max-width: 100%;
  padding: .5rem 2rem;
  flex: 1 0 0%
}
@media (max-height:709px) {
  .hero__message {
    text-align: center
  }
}
@media (max-width:1199px) {
  .hero__message {
    text-align: center
  }
}
@media (max-width:859px) {
  .hero__message {
    text-align: left
  }
}
@media (min-width:860px) {
  .hero__lead {
    font-size: 2.5rem
  }
}
.hero a {
  color: var(--white)
}
.hero a:focus,
.hero a:hover {
  opacity: .8
}
.form {
  position: relative;
  width: 100%
}
.form__set {
  background: var(--white);
  width: 100%;
  padding: 2rem
}
@media (min-width:768px) {
  .form__set {
    padding: 3rem
  }
}
@media (max-height:779px) {
  .form__set {
    padding: 2rem
  }
}
.form__input {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 1.2rem
}
.form__input:first-child {
  margin-top: 0
}
.form__input:last-child {
  margin-bottom: 0
}
input[type=email],
input[type=number],
input[type=phone],
input[type=text],
textarea {
  display: block;
  width: 100%;
  padding: 1.9rem 1.5rem .6rem;
  font-size: 1.4rem;
  font-weight: var(--regular);
  line-height: 1.3;
  color: var(--color-one);
  background-color: var(--white);
  background-clip: padding-box;
  border: .1rem solid var(--color-two);
  border-radius: .2rem;
  transition: border .3s ease-in-out,background-color .3s ease-in-out
}
input[type=email]:focus,
input[type=number]:focus,
input[type=phone]:focus,
input[type=text]:focus,
textarea:focus {
  border-color: var(--color-one)
}
@media (min-width:1700px) {
  input[type=email],
  input[type=number],
  input[type=phone],
  input[type=text],
  textarea {
    padding: 2.2rem 2rem .8rem;
    font-size: 1.6rem
  }
}
textarea {
  min-height: 8rem;
  height: 100%;
  overflow: auto;
  resize: vertical
}
@media (min-width:1700px) {
  textarea {
    min-height: 10rem
  }
}
.label,
label {
  display: block;
  font-size: 1.1rem;
  font-weight: var(--regular);
  position: absolute;
  top: .4rem;
  left: .8rem;
  opacity: .6;
  z-index: 2;
  transition: all .3s ease-in-out
}
@media (min-width:1700px) {
  .label,
  label {
    top: .5rem;
    font-size: 1.2rem
  }
}
.label--sm,
label--sm {
  position: relative;
  top: 0;
  left: 0;
  flex: 1 0 0%;
  font-size: 1rem
}
@media (min-width:768px) {
  .label--sm,
  label--sm {
    font-size: 1.2rem
  }
}
input[type=email]::placeholder,
input[type=number]::placeholder,
input[type=phone]::placeholder,
input[type=text]::placeholder,
select::placeholder,
textarea::placeholder {
  opacity: 1;
  transition: all .2s
}
input[type=email]:placeholder-shown:not(:focus),
input[type=number]:placeholder-shown:not(:focus),
input[type=phone]:placeholder-shown:not(:focus),
input[type=text]:placeholder-shown:not(:focus),
select:placeholder-shown:not(:focus),
textarea:placeholder-shown:not(:focus) {
  background-color: var(--white)
}
input[type=email]:placeholder-shown:not(:focus)::placeholder,
input[type=number]:placeholder-shown:not(:focus)::placeholder,
input[type=phone]:placeholder-shown:not(:focus)::placeholder,
input[type=text]:placeholder-shown:not(:focus)::placeholder,
select:placeholder-shown:not(:focus)::placeholder,
textarea:placeholder-shown:not(:focus)::placeholder {
  opacity: 0
}
input[type=email]:placeholder-shown:not(:focus) + label,
input[type=number]:placeholder-shown:not(:focus) + label,
input[type=phone]:placeholder-shown:not(:focus) + label,
input[type=text]:placeholder-shown:not(:focus) + label,
select:placeholder-shown:not(:focus) + label,
textarea:placeholder-shown:not(:focus) + label {
  top: 1.3rem;
  left: 1.5rem;
  color: var(--color-one);
  opacity: 1;
  font-size: 1.4rem;
  font-weight: var(--regular)
}
@media (min-width:1700px) {
  input[type=email]:placeholder-shown:not(:focus) + label,
  input[type=number]:placeholder-shown:not(:focus) + label,
  input[type=phone]:placeholder-shown:not(:focus) + label,
  input[type=text]:placeholder-shown:not(:focus) + label,
  select:placeholder-shown:not(:focus) + label,
  textarea:placeholder-shown:not(:focus) + label {
    top: 1.4rem;
    left: 2rem;
    font-size: 1.6rem
  }
}
input[type=checkbox],
input[type=radio] {
  position: relative;
  cursor: pointer;
  overflow: hidden;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: 0 0;
  height: 2.3rem;
  width: 2.3rem;
  display: block;
  margin-right: 1rem;
  padding: 0;
  border: 0;
  border-radius: 0
}
input[type=checkbox]::after,
input[type=radio]::after {
  position: relative;
  content: "";
  display: block;
  background-color: transparent;
  background-clip: padding-box;
  border: .2rem solid var(--color-two);
  border-radius: .2rem;
  height: 2.3rem;
  width: 2.3rem
}
input[type=checkbox]::before,
input[type=radio]::before {
  position: absolute;
  top: 5%;
  left: .5rem;
  content: url(img/check-solid.svg);
  display: block;
  height: 1.4rem;
  width: 1.4rem;
  color: transparent;
  z-index: 1;
  opacity: 0
}
@media (min-width:1000px) {
  input[type=checkbox]::before,
  input[type=radio]::before {
    top: -5%
  }
}
input[type=checkbox]:focus,
input[type=radio]:focus {
  outline: 0;
  outline-offset: 0
}
input[type=checkbox]:checked::before,
input[type=radio]:checked::before {
  opacity: 1
}
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0
}
input[type=number] {
  -moz-appearance: textfield
}
input[type=email].error,
input[type=email].error-message,
input[type=number].error,
input[type=number].error-message,
input[type=phone].error,
input[type=phone].error-message,
input[type=text].error,
input[type=text].error-message,
select.error,
select.error-message,
textarea.error,
textarea.error-message {
  border-color: var(--danger)
}
.error-message {
  display: block;
  font-size: 1.3rem;
  color: var(--danger);
  margin-top: .4rem;
  font-weight: var(--bold);
  letter-spacing: 0;
  width: 100%
}
.nice-select {
  position: relative;
  display: block;
  width: 100%;
  padding: 1.25rem 1.5rem;
  font-size: 1.4rem;
  font-weight: var(--regular);
  line-height: 1.3;
  color: var(--color-one);
  background-color: var(--white);
  background-clip: padding-box;
  border: .1rem solid var(--color-two);
  border-radius: .2rem;
  transition: border .3s ease-in-out,background-color .3s ease-in-out;
  cursor: pointer
}
.nice-select.open,
.nice-select:active,
.nice-select:focus {
  border-color: var(--color-one)
}
@media (min-width:1700px) {
  .nice-select {
    padding: 1.5rem 2rem;
    font-size: 1.6rem
  }
}
.nice-select:after {
  content: url(img/arrow.svg);
  opacity: .7;
  display: block;
  height: 1rem;
  width: 1.5rem;
  margin-top: -.5rem;
  pointer-events: none;
  position: absolute;
  right: 1.2rem;
  top: 50%;
  transform: translateY(-50%)
}
.nice-select.open:after {
  margin-top: 0;
  transform: rotate(-180deg)
}
.nice-select.open .nice-select-dropdown {
  opacity: 1;
  pointer-events: auto;
  transform: scale(1) translateY(0)
}
.nice-select-dropdown {
  width: 100%;
  border: .1rem solid var(--color-one);
  -webkit-box-shadow: 0 .2rem .3rem rgba(var(--color-one),.2);
  box-shadow: 0 .2rem .3rem rgba(var(--color-one),.2);
  color: var(--white);
  background-color: var(--color-one);
  pointer-events: none;
  position: absolute;
  top: 100%;
  left: 0;
  transform-origin: 50% 0;
  transform: scale(.75) translateY(19px);
  transition: all .2s cubic-bezier(.5,0,0,1.25),opacity .15s ease-out;
  z-index: 9;
  opacity: 0
}
.nice-select .list {
  box-sizing: border-box;
  overflow: hidden;
  padding: 0;
  max-height: 21rem;
  overflow-y: auto
}
.nice-select .list:hover .option:not(:hover) {
  background-color: transparent!important
}
.nice-select .option {
  cursor: pointer;
  font-weight: 400;
  line-height: 4rem;
  list-style: none;
  outline: 0;
  padding-left: 1.8rem;
  padding-right: 2.9rem;
  text-align: left;
  transition: all .2s
}
.nice-select .option.focus,
.nice-select .option.selected.focus,
.nice-select .option:hover {
  background-color: var(--color-three)
}
.nice-select .option.selected {
  font-weight: 700
}
.nice-select .option.disabled {
  background-color: transparent;
  color: #999;
  cursor: default
}
.nice-select .optgroup {
  font-weight: 700
}
.no-csspointerevents .nice-select .nice-select-dropdown {
  display: none
}
.no-csspointerevents .nice-select.open .nice-select-dropdown {
  display: block
}
.nice-select .list::-webkit-scrollbar {
  width: 0
}
.cta--color-one {
  background: var(--color-one);
  color: var(--white)
}
.cta--color-two {
  background: var(--color-two)
}
.cta--color-three {
  background: var(--color-three);
  color: var(--white)
}
.cta__inner {
  display: flex;
  justify-content: center;
  padding-top: 4rem;
  padding-bottom: 4rem;
  padding-left: 2rem;
  padding-right: 2rem;
  margin: 0 auto
}
@media (min-width:1000px) {
  .cta__inner {
    padding: 6rem
  }
}
@media (min-width:1700px) {
  .cta__inner {
    padding: 8rem
  }
}
@media (max-height:709px) {
  .cta__inner {
    max-width: 110rem
  }
}
@media (max-width:1199px) {
  .cta__inner {
    max-width: 110rem
  }
}
@media (max-width:999px) {
  .cta__inner {
    max-width: 85%
  }
}
@media (max-width:767px) {
  .cta__inner {
    max-width: none
  }
}
.cta__row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -2rem;
  margin-left: -2rem;
  align-items: flex-start
}
@media (max-height:709px) {
  .cta__row {
    align-items: flex-start
  }
}
@media (max-width:1199px) {
  .cta__row {
    max-width: 70rem;
    text-align: center
  }
}
.cta__one {
  position: relative;
  max-width: 100%;
  padding-right: 2rem;
  padding-left: 2rem;
  flex: 0 0 auto;
  width: 100%
}
@media (min-width:1200px) {
  .cta__one {
    flex: 0 0 auto;
    width: 33.3333333333%
  }
}
.cta__two {
  position: relative;
  max-width: 100%;
  padding-right: 2rem;
  padding-left: 2rem;
  flex: 0 0 auto;
  width: 100%
}
@media (min-width:1200px) {
  .cta__two {
    flex: 1 0 0%
  }
}
@media (max-width:1199px) {
  .cta__heading {
    margin-bottom: var(--paragraph-margin)!important
  }
}
.cta .button {
  margin-top: 3rem;
  display: none
}
@media (max-height:709px) {
  .cta .button {
    max-width: 70rem
  }
}
@media (max-width:1199px) {
  .cta .button {
    max-width: 70rem;
    display: block;
    margin: 3rem auto 0
  }
}
.cta h4 {
  margin-bottom: 0
}
.accordion {
  list-style: none;
  margin: 0 auto;
  padding: 0
}
.accordion__item {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1rem
}
.accordion__item:last-child {
  margin-bottom: 0
}
.accordion__term {
  flex: 0 0 auto;
  width: 100%;
  cursor: pointer;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
  padding: 1.9rem;
  color: var(--white);
  background: var(--color-three);
  font-family: var(--heading-font);
  font-weight: var(--heading-weight)
}
@media (min-width:576px) {
  .accordion__term {
    padding: 2rem
  }
}
.accordion dt {
  margin: 0;
  flex: 1 0 0;
  width: 100%;
  text-align: left
}
.accordion dt h4 {
  display: block;
  margin: 0;
  width: 85%;
  font-size: 1.6rem
}
@media (min-width:768px) {
  .accordion dt h4 {
    font-size: 1.9rem
  }
}
.accordion .icon {
  transition: all .4s ease-in-out
}
.accordion .icon svg {
  fill: var(--white);
  position: absolute;
  top: 0;
  left: 0
}
.accordion dd {
  flex: 0 0 auto;
  width: 100%;
  display: block;
  max-height: 0;
  font-size: 1.6rem;
  background: var(--color-two);
  transition: max-height .4s ease-in-out;
  overflow: hidden;
  text-align: left
}
@media (min-width:576px) {
  .accordion dd {
    font-size: 1.7rem
  }
}
.accordion dd span {
  display: block;
  padding: 1.9rem
}
@media (min-width:576px) {
  .accordion dd span {
    padding: 2rem
  }
}
.accordion__item.open .icon {
  transform: rotate(180deg)
}
.accordion__item.open dd {
  max-height: 50rem
}
@media (min-width:576px) {
  .accordion__item.open dd {
    max-height: 30rem
  }
}
.location--color-one {
  background: var(--color-one);
  color: var(--white)
}
.location--color-two {
  background: var(--color-two)
}
.location--color-three {
  background: var(--color-three);
  color: var(--white)
}
.location__inner {
  width: 65%
}
@media (max-height:709px) {
  .location__inner {
    width: 100%
  }
}
@media (max-width:1199px) {
  .location__inner {
    width: 100%
  }
}
.location__body {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  font-size: 1.4rem
}
@media (min-width:768px) {
  .location__body {
    font-size: 1.6rem
  }
}
.location__map {
  position: relative;
  flex: 0 0 auto;
  width: 100%;
  height: 30rem;
  order: 1
}
@media (min-width:768px) {
  .location__map {
    height: 40rem
  }
}
@media (min-width:1000px) {
  .location__map {
    flex: 1 0 0%;
    order: 2
  }
}
@media (min-width:1200px) {
  .location__map {
    height: 50rem
  }
}
@media (min-width:1700px) {
  .location__map {
    height: 60rem
  }
}
.location__opening {
  z-index: 1;
  background: #fff;
  padding-top: 4rem;
  padding-bottom: 4rem;
  padding-left: 2rem;
  padding-right: 2rem;
  text-align: center;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  order: 2
}
@media (min-width:1000px) {
  .location__opening {
    padding: 6rem
  }
}
@media (min-width:1700px) {
  .location__opening {
    padding: 8rem
  }
}
@media (min-width:1000px) {
  .location__opening {
    max-width: 36rem;
    order: 1;
    text-align: left
  }
}
@media (min-width:1700px) {
  .location__opening {
    max-width: 42rem
  }
}
.location__opening ul {
  list-style: none;
  margin: 0
}
.location__opening ul li:not(:last-child) {
  margin: 0 0 .4rem 0
}
.location__heading {
  font-family: var(--heading-font);
  font-weight: var(--heading-weight)
}
.review {
  background: var(--white);
  color: var(--black);
  border-radius: 1rem;
  padding: 2.5rem;
  font-size: 1.6rem;
  line-height: 1.5;
  text-align: left;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between
}
@media (min-width:768px) {
  .review {
    font-size: 1.7rem
  }
}
.review .icon svg {
  fill: var(--stars)
}
.review__author {
  font-size: 1.7rem;
  margin: 0 0 1rem 0;
  font-weight: var(--bold)
}
@media (min-width:768px) {
  .review__author {
    font-size: 1.8rem
  }
}
@media (min-width:1200px) {
  .review__author {
    font-size: 1.9rem
  }
}
.review a {
  display: flex;
  flex-direction: column;
  color: var(--black)
}
.review__logo {
  width: 11rem;
  color: var(--color-one);
  font-size: 70%;
  margin-top: var(--paragraph-margin)
}
.review__logo span {
  margin-bottom: 1rem;
  opacity: .5
}
.cookie-dialog {
  --cookie-white: var(--white);
  --cookie-black: var(--black);
  --cookie-overlay: var(--black)
}